@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

    .heading {
        color: $black;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
        text-transform: uppercase;

        &-L {
            font-size: rem(40);
            line-height: rem(38);
        }

        &-M {
            font-size: rem(32);
            line-height: rem(32);
        }

        &-S {
            font-size: rem(24);
            line-height: rem(24);
        }

        &-light {
            color: $white;
        }

    }

    .text {
        color: $black;
        font-family: 'Alata', sans-serif;
        font-size: rem(15);
        font-weight: 300;
        line-height: rem(25);
    }